<app-header></app-header>
<main class="form-signin text-center">
  <form [formGroup]="registerForm" (ngSubmit)="register()">
    <img class="mb-4" src="./../../assets/bootstrap-logo.svg" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    <div class="form-floating">
      <input type="text" class="form-control" id="floatingInput" placeholder="first name" formControlName="firstname">
      <div *ngIf="firstname?.touched && firstname?.invalid">
        <small *ngIf="firstname?.errors?.required" class="text-danger">Firstname is required<br></small>
        <small *ngIf="firstname?.errors?.pattern" class="text-danger">Invalid Firstname<br></small>
        <small *ngIf="firstname?.errors?.minlength" class="text-danger">Firstname must contain two characters at least</small>
    </div>
      <label for="floatingInput">First name</label>
    </div>
    <div class="form-floating">
      <input type="text" class="form-control" id="floatingInput" placeholder="Last name" formControlName="lastname">
      <div *ngIf="lastname?.touched && lastname?.invalid">
        <small *ngIf="lastname?.errors?.required" class="text-danger">Lastname is required<br></small>
        <small *ngIf="lastname?.errors?.pattern" class="text-danger">Invalid Lastname<br></small>
        <small *ngIf="lastname?.errors?.minlength" class="text-danger">Lastname must contain two characters at least</small>
    </div>
      <label for="floatingInput">Last name</label>
    </div>
    <div class="form-floating">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com"
        formControlName="email">
        <div *ngIf="email?.touched && email?.invalid">
          <small *ngIf="email?.errors?.required" class="text-danger">Email is required<br></small>
          <small *ngIf="email?.errors?.email" class="text-danger">Invalid Email<br></small>
      </div>
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password"
        formControlName="password">
        <div *ngIf="password?.touched && password?.invalid">
          <small *ngIf="password?.errors?.required" class="text-danger">Password is required<br></small>
          <small *ngIf="password?.errors?.minlength" class="text-danger">password must contain 6 characters at least</small>
      </div>
      <label for="floatingPassword">Password</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="repeatPassword" placeholder="repeat Password"
        formControlName="repassword">
        <div *ngIf="repassword?.touched && repassword?.invalid">
          <small *ngIf="repassword?.errors?.required" class="text-danger">Repeat Password is required<br></small>
        
      </div>
      <div *ngIf="repassword?.valid && repassword?.value != password?.value" class="text-danger">
        The passwords entered do not match
    </div>
      <label for="repeatPassword"> repeat Password</label>
    </div>
    <div class="checkbox mb-3">

    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit"
     [disabled]="registerForm.invalid || repassword?.value != password?.value">Sign in</button>

  </form>
</main>

<app-footer></app-footer>